/**
 * CSS Module for the LanguageSwitch component
 * Classes:
 * .btn         - languages list pop-up button
 * .flexCont    - flex container for the button content
 * .languages   - languages list
 * .languageBtn - language item button
 */

/*if the languages pop-up is visible, change .btn text color from --grey-500 to --blue-950*/
.toggled {
  color: var(--blue-950);
}

.flexCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  font-size: 1.2rem;
}

.languages {
  position: absolute;
  right: 0;
  margin-top: 0.2rem;
  padding: 1rem 0;
  width: 8rem;
  border-radius: var(--border-radius-10);
  border: 2px solid var(--purple-200);
  background-color: var(--white);
}

.languageBtn {
  width: 100%;
  margin: 0.5rem 0;
  color: var(--grey-500);
  font-size: var(--font-size-14);
}

/*on focus, display --grey-500 outline*/
.languageBtn:focus-visible {
  outline-color: var(--grey-500);
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*on hover, change text color from --grey-500 to --blue-950*/
  .btn:hover {
    color: var(--blue-950);
  }

  /*increase top margin from 0.2rem to*/
  .languages {
    margin-top: 0.5rem;
  }
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*remove margin, set top/bottom padding and increase font size from 14px to 16px*/
  .languageBtn {
    margin: 0;
    padding: 0.5rem 0;
    font-size: var(--font-size-base);
  }

  /*on hover, change text color from --grey-500 to --blue-950 and background color from --white to --grey-450*/
  .languageBtn:hover {
    color: var(--blue-950);
    background-color: var(--purple-200);
  }
}
