/**
 * CSS Module for the PersonalInfo component
 * Classes:
 * .input       - form input
 * .errorInput  - input error style
 */

.input {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.8rem 1rem;
  border: 1.5px solid var(--purple-200);
  border-radius: var(--border-radius-5);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  color: var(--blue-950);
}

/*for the dark theme, change text color from --blue-950 to --white and set background color to --slate-600*/
:global(.dark-theme) .input {
  color: var(--white);
  background-color: var(--slate-600);
}

/*change border color from --purple-200 to --red-500*/
.input.errorInput {
  border-color: var(--red-500);
}

/*for the dark theme, change border color from --red-500 to --red-300*/
:global(.dark-theme) .input.errorInput {
  border-color: var(--red-300);
}

.input::placeholder {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  color: var(--grey-450);
}

/*for the dark theme, change the placeholder text color from --grey-450 to --purple-200*/
:global(.dark-theme) .input::placeholder {
  color: var(--purple-200);
}

/*when focused, change the border color from --purple-200 to --purple-550*/
.input:focus {
  outline: none; /*remove default browser outline*/
  border-color: var(--purple-550);
}

/*for the dark theme, when focused, change the border color from --purple-200 to --blue-500*/
:global(.dark-theme) .input:focus {
  border-color: var(--blue-500);
}

/*when focused with error, change the border color from --purple-550 to --red-500*/
.input.errorInput:focus {
  border-color: var(--red-500);
}

/*for the dark theme, when focused with error, change the border color from --blue-500 to --red-300*/
:global(.dark-theme) .input.errorInput:focus {
  border-color: var(--red-300);
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*on hover, change border color from --purple-200 to --purple-550*/
  .input:hover {
    border-color: var(--purple-550);
  }

  /*for the dark theme, on hover, change border color from --purple-200 to --blue-500*/
  :global(.dark-theme) .input:hover {
    border-color: var(--blue-500);
  }

  /*maintain border color --red-500*/
  .input.errorInput:hover {
    border-color: var(--red-500);
  }

  /*for the dark theme, maintain border color --red-300*/
  :global(.dark-theme) .input.errorInput:hover {
    border-color: var(--red-300);
  }
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*increse bottom margin from 1rem to 1.5rem*/
  .input {
    margin: 0.5rem 0 1.5rem 0;
  }
}
