/**
 * CSS Module for the PersonalInfo component
 * Classes:
 * .description - form description
 * .input       - form input
 */

.description {
  max-width: 15.625rem; /*250px*/
  margin: 1rem 0 1.5rem 0;
}

.input {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.8rem 1rem;
  border: 1px solid var(--purple-200);
  border-radius: var(--border-radius-5);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  color: var(--blue-950);
}

.input::placeholder {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  color: var(--grey-450);
}

.input:focus {
  outline: none; /*remove default browser outline*/
  border: 1.5px solid var(--purple-550);
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*remove max-width*/
  .description {
    max-width: unset;
  }
}
