/**
 * CSS Module for SubscriptionToggle component
 * Classes: 
 * .mainCont  - main container
 * .monthly   - monthly text
 * .toggleBtn - toggle monthly/yearly subscription button
 * .yearly    - yearly text
 */

.mainCont {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-10);
  background-color: var(--blue-50);
}

.monthly {
  color: var(--blue-950);
}

/*on focus, display --purple-600 outline*/
.toggleBtn:focus-visible {
  border-radius: var(--border-radius-10);
  outline-color: var(--purple-600);
}

.yearly {
  color: var(--grey-500);
}
