/**
 * CSS Module for SubscriptionToggle component
 * Classes: 
 * .mainCont  - main container
 * .monthly   - monthly text
 * .toggleBtn - toggle monthly/yearly subscription button
 * .yearly    - yearly text
 */

.mainCont {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: var(--border-radius-10);
  background-color: var(--blue-50);
}

/*for the dark theme, change background color from --blue-50 to --slate-700*/
:global(.dark-theme) .mainCont {
  background-color: var(--slate-700);
}

.monthly {
  color: var(--blue-950);
}

/*for the dark theme, change text color from --blue-950 to --white*/
:global(.dark-theme) .monthly {
  color: var(--white);
}

/*on focus, display --purple-600 outline*/
.toggleBtn:focus-visible {
  border-radius: var(--border-radius-10);
  outline-color: var(--purple-600);
}

/*for the dark theme, on focus, display --white outline*/
:global(.dark-theme) .toggleBtn:focus-visible {
  outline-color: var(--white);
}

.yearly {
  color: var(--grey-500);
}

/*for the dark theme, change text color from --grey-500 to --purple-grey-200*/
:global(.dark-theme) .yearly {
  color: var(--purple-grey-200);
}
