/**
 * CSS Module for the Plan component
 * Classes:
 * .planCont   - plan main container
 * .selected   - current plan is selected
 * .errorInput - input error style
 * .icon       - plan type icon
 * .type       - plan type name
 * .value      - plan price
 * .discount   - plan discont
 */

.planCont {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.8rem 1rem;
  width: 100%;
  height: 6rem; /*96px*/
  cursor: pointer;
  border: 2px solid var(--purple-grey-200);
  border-radius: var(--border-radius-10);
}

/*for the dark theme, change border color from --purple-grey-200 to --white and set background color to --slate-700*/
:global(.dark-theme) .planCont {
  border-color: var(--white);
  background-color: var(--slate-700);
}

/*change border color from --purple-grey-200 to --purple-550*/
.planCont.selected {
  border-color: var(--purple-550);
  background-color: var(--blue-100);
}

/*for the dark theme, change border color from --purple-grey-200 to --blue-500 and background color from --blue-100 to --slate-550*/
:global(.dark-theme) .planCont.selected {
  border-color: var(--blue-500);
  background-color: var(--slate-550);
}

/*change border color from --purple-grey-200 to --red-500*/
.planCont.errorInput {
  border-color: var(--red-500);
}

/*for the dark theme, change border color from --white to --red-300*/
:global(.dark-theme) .planCont.errorInput {
  border-color: var(--red-300);
}

.contentCont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.icon {
  width: 2.5rem; /*40px*/
  height: 2.5rem; /*40px*/
}

.type {
  font-size: var(--font-size-base);
  color: var(--blue-950);
}

/*for the dark theme, change color from --blue-950 to --white*/
:global(.dark-theme) .type {
  color: var(--white);
}

.value {
  font-size: var(--font-size-14);
  color: var(--grey-500);
}

/*for the dark theme, change color from --grey-500 to --purple-grey-200*/
:global(.dark-theme) .value {
  color: var(--purple-grey-200);
}

.discount {
  font-size: var(--font-size-14);
  color: var(--blue-950);
}

/*for the dark theme, change color from --blue-950 to --white*/
:global(.dark-theme) .discount {
  color: var(--white);
}

/*Tablet Styles*/
@media (min-width: 48rem /*768px*/) {
  /*increase height from 96px to 125px*/
  .planCont {
    height: 7.8125rem; /*125px*/
  }

  /*on hover, change border color from --purple-grey-200 to --purple-600*/
  .planCont:hover {
    border-color: var(--purple-600);
  }

  /*for the dark theme, on hover, change border color from --white to --blue-500*/
  :global(.dark-theme) .planCont:hover {
    border-color: var(--blue-500);
  }

  /*increase the icon width/height from 40px to 50px*/
  .icon {
    width: 3.125rem; /*50px*/
    height: 3.125rem; /*50px*/
  }

  /*increase the gap between the plan type, price and discont*/
  .contentCont {
    gap: 1rem;
  }

  /*increase value and discont font size from 14px to 16px*/
  .value,
  .discount {
    font-size: var(--font-size-base);
  }
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*update the flex direction from row to column, increase gap from 1rem to 3.5rem, set width and increase height from 125px to 210px*/
  .planCont {
    flex-direction: column;
    gap: 3.5rem;
    width: 8.75rem; /*140px*/
    height: 13.125rem; /*210px*/
  }

  /*reset the gap value*/
  .contentCont {
    gap: 0.5rem;
  }
}
