/**
 * CSS Module for the SelectPlan component
 * Classes:
 * .plansListCont  - container for the list of Plan components 
 * .subsToggleCont - container for the SubscriptionToggle component
 */

.plansListCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subsToggleCont {
  margin-top: 1.5rem;
}

/*Desktop Styles*/
@media (min-width: 64rem /*1024px*/) {
  /*update the flex direction from column to row*/
  .plansListCont {
    flex-direction: row;
  }
}
